/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #333;
}

div, img {
  margin: 0;
  padding: 0;
}

/* Blocks */
#timeline {
  position: absolute;
  top: 50px;
  height: 80px;
  width: 100%;

  overflow: scroll;
  overflow-y: hidden;
}
#timeline::-webkit-scrollbar {
  display: none;
}

#title {
  position: absolute;
  top: 0px;
  height: 50px;
  width: 100%;

  font-size: 32pt;
  background-color: #333;
  text-align: center;
  color: white;
}

#content {
  position: absolute;
  top: 130px;
  bottom: 0;
  width: 100%;

  background-color: white;
}

/* Content */

/* Walls */
.wall { /* outer container */
  height: 100%;
  width: 100%;
}

.sidebar {
  float: left;
  height: 100%;
  overflow: scroll;
  width: 250px;
  background-color: #333;
  color: white;
}

.sidebar ul {
  margin: 5px 0 0;
  padding: 0 0 0 5px;
}

.sidebar ul li {
  padding: 5px;
  margin-bottom: 10px;
  font-size: 20px;
}

.activeAnchor {
  background-color: #08c;
  color: white;
}

.wall-content {
  height: 100%;
  overflow: scroll;
  background-color: #333;
}

.wall-content > div {
  min-height: 70%;
  padding: 5px;
  margin: 5px;
  padding-bottom: 100px;
}

.wall-content > div > h2 {
  text-align: center;
  margin: 10px 0;
}

.wall-content > div:first-of-type {
  margin-top: 0;
}

.wall-content > div:nth-of-type(2n+1) {
  background-color: pink;
}

.wall-content > div:nth-of-type(2n+2) {
  background-color: purple;
}

.wall-content * {
  margin: 0;
}

/* Gallery */
.lightbox {
  width: 100%;
  height: 100%;
  background-color: #333;
  background-image:url('/assets/logos/logo_25_bg333.png');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:bottom right;
  /*text-align: center;*/
  vertical-align: middle;
}

.rn-carousel-container {
  height: 100%;
}

ul.rn-carousel-slides {
  height: 100%;
}

.carousel {
}

.imgbox {
  position: relative;
  height: 100%;
}

.galleryimg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 20px;
  margin: auto;
  height: 575px;
  opacity: 0.9;
}

ul.rn-carousel-slides > li {
  width: 1024px;
}

ul.rn-carousel-slides > li:first-child {
  margin-left: 128px;
}

