html {
  height: 100%;
}

body {
  height: 100%;
}

div, img {
  margin: 0;
  padding: 0;
}

/* Blocks */
.timeline {
  width: 100%;
  height: 160px;
  background-color: green;
}

.content {
  width: 100%;
  background-color: blue;
  top: 160px;
  bottom: 48px;
  position: fixed;
  width: 100%;
}

.toolbar {
  width: 100%;
  height: 48px;
  position: fixed;
  bottom: 0;
  background-color: red;
}

/* Content */
.gallery {
  height: 100%;
  width: 100%;
  overflow: scroll;
  white-space: nowrap;
}

.gallery > img {
}

.wall {
  height: 100%;
  width: 100%;
}

.wall .index {
  float: left;
  height: 100%;
  width: 30%;
  background-color: yellow;
  overflow: scroll;
}

.wall .index .item {
  width: 100%;
  background-color: purple;
}

.wall .text {
  float: right;
  height: 100%;
  width: 70%;
  background-color: orange;
  overflow: scroll;
}

.wall .text .anchor {
  width: 100%;
  height: 200px;
  background-color: gray;
}
