/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.4em;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #333;
}

div, img {
  margin: 0;
  padding: 0;
}

/* Blocks */
#timeline {
  position: absolute;
  top: 50px;
  height: 70px;
  width: 100%;

  overflow: scroll;
  overflow-y: hidden;
}
#timeline::-webkit-scrollbar {
  display: none;
}

#title {
  position: absolute;
  top: 0px;
  height: 50px;
  width: 100%;

  font-size: 32pt;
  line-height: 1em;
  background-color: #739fbc;
  text-align: center;
  color: #eee;
  text-shadow: 2px 2px 2px #333;
}

#content {
  position: absolute;
  top: 120px;
  bottom: 0;
  width: 100%;

  background-color: white;
}

/* Content */

/* Walls */
.wall { /* outer container */
  height: 100%;
  width: 100%;
}

.sidebar {
  float: left;
  height: 100%;
  overflow: scroll;
  width: 250px;
  background-color: #333;
  color: white;
}

.sidebar ul {
  margin: 5px 0 0;
  padding: 0 0 0 5px;
}

.sidebar ul li {
  padding: 5px;
  margin-bottom: 10px;
  font-size: 20px;
}

.activeAnchor {
  background-color: #08c;
  color: white;
}

.wall-content {
  height: 100%;
  overflow: scroll;
  background-color: #333;
}

.wall-content > div {
  min-height: 70%;
  padding: 5px;
  margin: 5px;
  padding-bottom: 100px;
}

.wall-content p,
.wall-content h2,
.wall-content h3,
.wall-content h4 {
  font-size: larger;
}

.wall-content > div > h2 {
  text-align: center;
  margin: 10px 0;
  color: #eee;
  font-size: 32px;
}

.wall-content > div:first-of-type {
  margin-top: 0;
}

.wall-content > div:nth-of-type(2n+1) {
  background-color: rgba(115, 159, 188, 0.6);
}

.wall-content > div:nth-of-type(2n+2) {
  background-color: rgba(160, 214, 180, 0.6);
}
.wall-content > div.light {
  background-color: white;
  text-align: center;
}

.wall-content > div.light img {
  padding: 20px;
}

.wall-content > div > h2 {
  color: #333;
}

.wall-content * {
  margin: 0;
}

.quotes > div,
.bio > div {
  background-color: #eee;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 10px;
}
.quotes img,
.bio img {
  margin: 10px;
}
.quotes p,
.bio p {
  margin-bottom: 10px;
  text-indent: 30px;
}
.bio > div > h3,
.bio > div > h4,
.quotes > div > h3,
.quotes > div > h4 {
  text-align: center;
  font-size: larger;
}
.bio.frank img
{
  float: left;
  vertical-align: top;
  height: 300px;
  padding-bottom: 50px;
}

.auction-column {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  padding: 0 5px;
}

.auction-item {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  background-color: #eee;
  margin-bottom: 10px;
}
.auction-item:after {
  clear:both;
  content: " ";
  display: block;
}

.auction-item .title {
  font-size: 30px;
  text-align: left;
  float: left;
  width: 150px;
  line-height: 1em;
  margin-bottom: 10px;
}
.auction-item .description {
  float: right;
  width: 213px;
}
.auction-item .donor {
  float: left;
  font-size: 13px;
  width: 140px;
  font-style: italic;
}

.shortlist {
  text-align: center;
}
.shortlist > div {
  margin: 10px;
  background-color: #eee;
  padding: 5px;
  display: inline-block;
  border-radius: 5px;
}

/* Gallery */
.lightbox {
  width: 100%;
  height: 100%;
  background-color: #333;
  background-image:url('/assets/logos/logo_25_bg333.png');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:bottom right;
  /*text-align: center;*/
  vertical-align: middle;
}

.rn-carousel-container {
  height: 100%;
}

ul.rn-carousel-slides {
  height: 100%;
}

.carousel {
}

.imgbox {
  position: relative;
  height: 100%;
}

.galleryimg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 20px;
  margin: auto;
  height: 575px;
  opacity: 0.9;
}

ul.rn-carousel-slides > li {
  width: 1024px;
}

ul.rn-carousel-slides > li:first-child {
  margin-left: 128px;
}

